<h3>@ViewBag.title</h3>
<h3>@ViewBag.date</h3>
<ul>
    <li>Id is: @ViewBag.student.Id</li>
    <li>First Name is: @ViewBag.student.FirstName</li>
    <li>Last Name is: @ViewBag.student.LastName</li>
</ul>